a.btn {
  position: relative;
  padding: 4px 10px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid white;
    border-left: 2px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-right: 2px solid transparent;
    // border-top: 2px solid transparent;
    border-top: none;
  }
}

a.btn:hover::before {
  height: 100%;
  transition: height 0.3s linear;
  border-left: 2px solid white;
}

a.btn:hover::after {
  border-right: 2px solid white;
  border-top: 2px solid white;
  width: 100%;
  height: 100%;
  transition: width 0.3s linear 0.3s, height 0.3s linear 0.6s , border-top 0s linear 0.3s;
}
